<div class="container mt-4">
    <h2 class="bg-primary p-2 fw-bold text-center">Task Manager App</h2>
    <div class="row">
        <div class="col-4 ">
            <div class="row">
                <div class="col-6">
                    <h3 class="fw-bold">Task List</h3>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-success" style="float:right">New Task List</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group">
                        <li *ngFor="let item of taskLists" class="list-group-item d-flex justify-content-between align-items-center">
                          {{ item.title }}
                          <span class="badge bg-danger rounded-pill">x</span>
                        </li>
                      </ul>
                </div>
            </div>
            
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6 ">
                    <h3 class="fw-bold float-start" >Linked Tasks</h3>
                </div>
                <div class="col-6 ">
                    <button type="button" class="btn btn-success" style="float:right">New Tasks</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group">
                        <li *ngFor="let item of tasks"class="list-group-item d-flex justify-content-between align-items-center">
                          {{ item.title }}
                          <span class="badge bg-danger rounded-pill">x</span>
                        </li>
                      </ul>
                </div>
            </div>
    </div>
</div>